<%-include ('../partials/header.ejs');%>
<%-include ('../partials/main_nav.ejs');%>

<!--content for the Add page-->
<div class = "container">
    <div class = "row">
        <div class ="offset-md-3 col-md-6">
        <!-- <h1><%= title %></h1> -->
        <h1>Edit business contact</h1>
        <form class = "form" method="POST">
            <div class ="form group">
                <label for="nameTextField">Contact Name</label>
                <input type="text" class="form control"
                id="nameTextField"
                placeholder="Enter a user name"
                name="name"
                value="<%=book.name%>"
                required>
            </div>

            <div class ="form group">
                <label for="emailTextField">Email Address</label>
                <input type="email" class="form control"
                id="emailTextField"
                placeholder="Enter an email address"
                name="email" 
                value="<%=book.email%>"
                required>
            </div>

            <div class ="form group">
                <label for="telnumberTextField">Contact Number</label>
                <input type="number" class="form control"
                id="telnumberTextField"
                placeholder="Enter a contact number"
                name="telnumber" 
                value="<%=book.telnumber%>"
                required>
            </div>

            <button class = "btn btn-primary" type="submit"><i class ="fas fa-edit"></i>Update</button>
            <a href='/bookList' class="btn btn-warning"><i class="fas fa-undo"></i>Cancel</a>  
        
        </form>
        </div>
        </div>
    </div>


  
<%- include('../partials/bottom_nav'); -%>
<%- include('../partials/footer'); -%>

